/* CODE BY BOTGODJAY */

:root {
  font-size: 18px;
  --margin: 1.5rem;
  --h1-size: clamp(0.7rem, 4.6vw, 3rem);
  --h2-size: clamp(0.9rem, 6vw, 2.5rem);
  --h3-size: 1.2rem;
  --button-border-radius: 8px;
  --tagline-size: 12px;
  --button-width: 300px;
  --button-height: 30px;
  --p-size: 18px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  height: 100vh;
}

header {
  margin-bottom: 20px;
}

.body {
  overflow: hidden;
  margin: 0 1.5rem;
  display: grid;
  grid-template-areas:
    "header"
    "title"
    "form";
  grid-template-rows: 200px 40px auto;
  place-items: center;
  height: 85%;
}
.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: start;
}

h3 {
  grid-area: title;
  align-self: start;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-area: form;
  width: var(--button-width);
  align-self: start;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  background-color: black;
}

li {
  list-style: none;
  align-self: center;
}

li a {
  color: white;
  text-decoration: none;
}

img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-size: cover;
}

button {
  height: var(--button-height);
  border-radius: var(--button-border-radius);
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}