/* CODE BY BOTGODJAY */

:root {
  font-size: 18px;
  --margin: 1.5rem;
  --h1-size: clamp(0.7rem, 4.6vw, 3rem);
  --h2-size: clamp(0.9rem, 6vw, 2.5rem);
  --h3-size: 1.2rem;
  --button-border-radius: 8px;
  --tagline-size: 12px;
  --button-width: 250px;
  --button-height: 30px;
  --p-size: 18px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}