/* CODE BY BOTGODJAY */

:root {
  font-size: 18px;
  --margin: 1rem;
  --h1-size: clamp(0.7rem, 4.6vw, 3rem);
  --h2-size: clamp(0.9rem, 6vw, 2.5rem);
  --h3-size: 1.2rem;
  --button-border-radius: 8px;
  --tagline-size: 12px;
  --button-width: 250px;
  --button-height: 30px;
  --p-size: 18px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  overflow: hidden;
  margin: var(--margin);
  height: 100vh;
  display: grid;
  grid-template-areas: 
    "img"
    "heading"
    "info"
    "form"
    "footer";
  place-items: center;
  grid-template-rows: 175px 50px 50px 200px auto;
}

img {
  grid-area: img;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
  align-self: end;
}
h2 {
  grid-area: heading;
  align-self: end;
}

p {
  grid-area: info;
  text-align: justify;
  align-self: end;
}

form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  align-self: end;
}

form input {
  height: var(--button-height);
  border-radius: var(--button-border-radius)
}

button {
  height: var(--button-height);
  border-radius: var(--button-border-radius);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  grid-area: footer;
  align-self: end;
}