/* CODE BY BOTGODJAY */

:root {
  font-size: 18px;
  --margin: 1.5rem;
  --h1-size: clamp(0.7rem, 4.6vw, 3rem);
  --h2-size: clamp(0.9rem, 6vw, 2.5rem);
  --h3-size: 1.2rem;
  --tagline-size: 12px;
  --button-width: 80px;
  --button-height: 30px;
  --p-size: 18px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin: var(--margin);
  height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: 
    "logo title"
    "greetings greetings"
    "about about"
    "footer footer";
  grid-template-rows: 90px 300px auto 30px;
  grid-template-columns: 100px auto;
  place-items: center;
}

.logo {
  grid-area: logo;
  align-self: start;
}

.header {
  grid-area: title;
}

.action {grid-area: greetings;}
.description {
  grid-area: about;
  align-self: start;
}
footer {grid-area: footer;}

h1 {
  font-size: var(--h1-size);
  text-align: center;
}

.header p {
  text-align: center !important;
  font-size: var(--tagline-size);
}

.logo img {
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 15px;
}

.action h2 {
  font-size: var(--h2-size);
}

.action p {
  font-size: var(--p-size);
}

.action button {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: 15px;
}

#write-up {
  overflow: hidden;
  max-height: 290px;
  line-height: 1.5;
}

#write-up.expanded {
  max-height: 910px;
}

footer {
  margin-top: 20px;
}