/* CODE BY BOTGODJAY */

:root {
  font-size: 18px;
  --margin: 1.5rem;
  --h1-size: clamp(0.7rem, 4.6vw, 3rem);
  --h2-size: clamp(0.9rem, 6vw, 2.5rem);
  --h3-size: 1.2rem;
  --button-border-radius: 8px;
  --tagline-size: 12px;
  --button-width: 250px;
  --button-height: 30px;
  --p-size: 18px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.main {
  background-color: grey;
  position: absolute;
  height: 500px;
  top: 50%;
  left: 50%;
  width: 350px;
  margin: var(--margin);
  font-family: var(--font-family);
  display: grid;
  border-radius: 20px;
  grid-template-areas: 
    "img"
    "form";

  grid-template-rows: 100px auto;
  place-items: center;
  transform: translate(-58%, -60%);
}

.display {
  grid-area: img;
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.display img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
}

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form form input {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-border-radius);
}

.forgot {
  text-align: right;
  font-size: calc(var(--tagline-size) + 3px);

}

.forgot a {
  text-decoration: none;
}

.form p {
  font-size: var(--p-size);
  text-align: center;
}

button {
  height: var(--button-height);
  width: var(--button-width);
  border-radius: var(--button-border-radius);
}