/* CODE BY BOTGODJAY */

:root {
  font-size: 18px;
  --margin: 1.5rem;
  --h1-size: clamp(0.7rem, 4.6vw, 3rem);
  --h2-size: clamp(0.9rem, 6vw, 2.5rem);
  --h3-size: 1.2rem;
  --button-border-radius: 8px;
  --tagline-size: 12px;
  --button-width: 300px;
  --button-height: 30px;
  --p-size: 18px;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  height: 100vh;
  overflow: hidden;
}

header {
  margin-bottom: 20px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  background-color: black;
}

li {
  list-style: none;
  align-self: center;
}

li a {
  color: white;
  text-decoration: none;
}

.body {
  margin: var(--margin);
  height: 85%;
  display: grid;
  place-items: center;
  grid-template-areas: 
    "img"
    "title"
    "ref"
    "mart"
    "bus"
    "footer";
  grid-template-rows: 150px 40px 70px 70px 70px auto;
}

img {
  grid-area: img;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
}

h2 {grid-area: title;}

.ref {
  grid-area: ref;
  align-self: end;
  height: var(--button-height);
  width: var(--button-width);
  border-radius: var(--button-border-radius);
}

.mart {
  grid-area: mart;
  align-self: end;
  height: var(--button-height);
  width: var(--button-width);
  border-radius: var(--button-border-radius);
}

.bus {
  grid-area: bus;
  align-self: end;
  height: var(--button-height);
  width: var(--button-width);
  border-radius: var(--button-border-radius);
}

footer {
  grid-area: footer;
  align-self: end;
}

footer {
  display: flex;
  justify-content: center;
}